$white: #ffffff;
$gray-light: #dadada;
$gray-dark: #9d9d9d;
$gray-medium: #686868;
$black: #000000;
$blue: #003fb4;

$font-size-small: 16px;
$font-size-medium: 18px;
$font-size-large: 24px;
$font-size-xlarge: 36px;

$border-radius: 10px;

$shadow-light: 4px 10px 24px 0px rgba(0, 0, 0, 0.1);
